<!-- Button trigger modal -->

<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="addClick()" data-backdrop="static" data-keybord="false">
  Add Department
</button>


<form class="form-inline float-right m-2">
  <input class="form-control mr-sm-2"  [(ngModel)]="searchedKeyword" name="first" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-dep [dep]="dep" *ngIf="ActivateAddEditDepComp"></app-add-edit-dep>
      </div>
    </div>
  </div>
</div>




<!-- Departmant View and ditalils is show here  -->
<div class="containor" >
<table class="table table-striped">
  <thead>
    <tr>
      <th>DepartmentID</th>
      <th>Departmant Name</th>
      <th>Employees Number</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of DepartmentList | filter:searchedKeyword">
      <td> {{dataItem.DepartmentId}} </td>
      <td> {{dataItem.DepartmentName}} </td>
      <td> {{ dataItem?.employees?.length }} </td>
      
      
      <td>
        <button class="btn btn-primary mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="editClick(dataItem)" data-backdrop="static" data-keybord="false">
          Edit
        </button>
        <button type="button" class="btn btn-danger mr-1" (click)="deleteClick(dataItem)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<nav aria-label="Page navigation example" class="float-right">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul> 
</nav>